<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>206322256402-3obe8jb31nvqr0s4or5fih3rgg5lms72.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.206322256402-3obe8jb31nvqr0s4or5fih3rgg5lms72</string>
	<key>API_KEY</key>
	<string>AIzaSyAFF27DPVg1qAk_9TWTwDvrgu2poGPyONw</string>
	<key>GCM_SENDER_ID</key>
	<string>206322256402</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bikeRentalOnline</string>
	<key>PROJECT_ID</key>
	<string>bike-rental-project-de5fd</string>
	<key>STORAGE_BUCKET</key>
	<string>bike-rental-project-de5fd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:206322256402:ios:d3e353b213a3af231366cb</string>
</dict>
</plist>